# random seed is set to the Unix EPOCH time when this
# file is created

# essential variables
ProgramType       DDS
ModelExecutable   ./etc/scripts/eval.py
ModelSubdir       cpu_
ObjectiveFunction gcop

# useful optional variables
PreserveModelOutput  ./etc/scripts/archive.sh
OstrichWarmStart     yes
NumDigitsOfPrecision 3
TelescopingStrategy  none
RandomSeed           {{ seed}}
OnObsError           1.00

# experimental or less common optional variables
CheckSensitivities    no
SuperMUSE             no
OstrichCaching        yes
BoxCoxTransformation  1.00
ModelOutputRedirectionFile  OstOutput.txt

# DDS specs
BeginDDSAlg
  PerturbationValue 0.2
  MaxIterations      10000
  UseRandomParamValues
EndDDSAlg

# response variable
BeginResponseVars
  #name        filename                                  keyword      line   col   token
  KGE_2012     ./mesh/results/{{ metric }}.csv ;             OST_NULL     0      1     ','
EndResponseVars

# objective function specs
BeginGCOP
  CostFunction     {{ metric}}
  PenaltyFunction  APM
EndGCOP

# file pairs
BeginFilePairs
{% for file in template_files %}
  ./etc/templates/{{ file }} ; ./etc/evaluation/{{ file }}
{% endfor %}
EndFilePairs

# extra directories
BeginExtraDirs
  ./model/
  ./etc/
EndExtraDirs

# parameters
BeginParams

  # computational unit #{{1 }}: {{ unit_name}}
  #name       init.   lower     upper     txIn  txOst  txOut   format

  # global parameters
  #name       init.   lower     upper     txIn  txOst  txOut   format

EndParams

# Constraints
BeginTiedParams

  # block X=1
  # name1       np1   pname1,1   pname1,2   pname1,3   type1   dtype1   dtype2   dtype3   format
  {#_1SUM_SOIL_ 3     _1SND_     _1CLY_     _1SLT_     wsum    1        1        1        F7.3 #}
  # name1   np1   pname1,1   pname1,2                  type1   c3   c2   c1   c0   format
 {# _1SAND  2     _1SND_     _1SUM_SOIL_               ratio   100  0    1    0    F7.3
    _1CLAY  2     _1CLY_     _1SUM_SOIL_               ratio   100  0    1    0    F7.3 #}

EndTiedParams
