{# Defining variable used throughout the template file #}
{% set algorithm = info.get('algorithm') %}
{% set metric = info.get('metric') %}
{% set random_seed = info.get('random_seed') %}
{% set current_time = info.get('current_time') %}
{% set parameters = info.get('parameters') %}
{% set calibrating_parameters = info.get('calibrating_parameters') %}
{% if 'constraints' in parameters %}
  {%   set constraints = parameters.get('constraints') %}
{% else %}
  {%   set constraints = None %}
{% endif %}
# Eessential variables
ProgramType       {{ algorithm}}
ModelExecutable   ./etc/scripts/eval.py
ModelSubdir       cpu_
ObjectiveFunction gcop

# useful optional variables
PreserveModelOutput  ./etc/scripts/archive.sh
OstrichWarmStart     yes
NumDigitsOfPrecision 3
TelescopingStrategy  none
RandomSeed           {{ random_seed }}
OnObsError           1.00

# experimental or less common optional variables
CheckSensitivities    no
SuperMUSE             no
OstrichCaching        yes
BoxCoxTransformation  1.00
ModelOutputRedirectionFile  OstOutput.txt

# DDS specs
BeginDDSAlg
  PerturbationValue 0.2
  MaxIterations      10000
  UseRandomParamValues
EndDDSAlg

# response variable
BeginResponseVars
  #name        filename ;                                 keyword      line   col   token
  {{ metric }}     ./etc/evaluation/{{ metric }}.csv ;             OST_NULL     0      1     ','
EndResponseVars

# objective function specs
BeginGCOP
  CostFunction     {{ metric }}
  PenaltyFunction  APM
EndGCOP

{% if info.get('parameters') is iterable and info.get('parameters') %}
# file pairs
BeginFilePairs
  # template file;                     output file
  {% for file in info.get('parameters') %}
  ./etc/templates/{{ file }}.json; ./etc/evaluation/{{ file }}.json
  {% endfor %}
EndFilePairs
{% endif %}

# extra directories
BeginExtraDirs
  ./model/
  ./etc/
EndExtraDirs

{% if info.get('parameters') and calibrating_parameters is defined and calibrating_parameters is mapping %}
# parameters
BeginParams
  # name      initial   min       max       type     format
  {% for param_group, param_dict in calibrating_parameters.items() %}
    {% if param_dict %}
      {% for unit, params in param_dict.items() %}
    # Computational unit #{{ unit }} parameter
        {% for _, param in params.items() %}
    {{ param }}
        {% endfor %}
      {% endfor %}
    {% endif %}
  {% endfor %}
EndParams
{% endif %}

# Constraints
BeginTiedParams

  # block X=1
  # name1       np1   pname1,1   pname1,2   pname1,3   type1   dtype1   dtype2   dtype3   format
  {#_1SUM_SOIL_ 3     _1SND_     _1CLY_     _1SLT_     wsum    1        1        1        F7.3 #}
  # name1   np1   pname1,1   pname1,2                  type1   c3   c2   c1   c0   format
 {# _1SAND  2     _1SND_     _1SUM_SOIL_               ratio   100  0    1    0    F7.3
    _1CLAY  2     _1CLY_     _1SUM_SOIL_               ratio   100  0    1    0    F7.3 #}

EndTiedParams
